.add-article {
  margin: 0 0 20px 20px;
}

.article-list {
  /*display: flex;*/
  min-width: 800px;
}

.article-item {
  display: inline-block;
  width: 40%;
  margin-right: 10%;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transform: translate3d(0, -2px, 0);
}

.article-name {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  max-height: 60px;
  color: #333;
}

.article-content {
  margin: 10px 0;
  line-height: 1.6;
  height: 64px;
  overflow: hidden;
  color: #666;
}

.article-time {
  color: gray;
  font-size: 14px;
}

@media screen and (max-width: 1400px) {
  .article-item {
    width: 48%;
    margin-right: 2%;
  }
}
