@import "https://cdn.bootcss.com/github-markdown-css/2.6.0/github-markdown.min.css";

.box-edit {
  display: flex;
  width: 100%;
}

.edit {
  width: 50%;
}

.edit textarea {
  display: block;
  width: 95%;
  min-height: 500px;
  resize: none;
}

.edit input {
  width: 200px;
  margin-bottom: 20px;
}

.edit button {
  font-size: 15px;
}

.saveEdit {
  margin-top: 20px;
}

.preview {
  width: 50%;
}

.preview .title{
  margin: 10px 0;
  text-align: center;
}
